.header {
  background-image: url('../../../img/welcome.jpeg');
  background-size: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: sticky;
  z-index: 100;
  top: 0;
  & .imgLoading {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 105;
    top: 0;
  }
  & iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 110;
    top: 0;
  }
}
