.articleUp {
   padding: 1rem 2rem .8rem .8rem;
   border-bottom: 1px solid #3B3B3B;
   position: relative;
   & svg {
      position: absolute;
      top: 0.7rem;
      right: .4rem;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      padding: 9px;
      color: white;
      transform: rotate(-90deg);
      &:active {
         background-color: rgba(0,0,0,0.3);
      }
   }
   & .title {
      color: #fff;
      font-size: 1.1em;
      font-weight: 500;
      margin-bottom: .5rem;
   }
   & .textView {
      color: #aaa;
      font-size: .8em;
   }
}

.articleDown {
   border-bottom: 1px solid #3B3B3B;
   height: 3rem;
   display: grid;
   align-items: center;
   grid-template-columns: 1fr auto;
   padding: 0 .8rem;
   & .boxUser {
      display: flex;
      align-items: center;
      & .logo {
         width: 30px;
         height: 30px;
         border-radius: 50%;
         margin-right: .7rem;
      }
      & .chanel {
         display: flex;
         justify-content: center;
         align-items: flex-start;
         flex-direction: column;
         & .up {
            font-size: .7em;
            color: white;
            font-weight: 500;
         }
         & .down {
            color: #aaa;
            font-size: .6em;
            font-weight: 400;
         }
      }
   }
}

.boxSubs {
   position: relative;
   & button {
      border: none;
      padding: 8px 0;
      color: #FF404B;
      background-color: transparent;
      font-weight: bold;
      font-size: 1em;
      display: flex;
      align-items: center;
      &:active {
         outline: none;
         border: none;
      }
      &:hover {
         outline: none;
         border: none;
      }
      &:focus {
         outline: none;
         border: none;
      }
   }
   & svg {
      width: 1.1rem;
      margin-left: .9rem;
   }
   & .boxSubsFloat {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 0;
      right: 0rem;
      z-index: 130;
      width: 140px;
      background-color: #202227;
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.8),
                  0 2px 2px rgba(0, 0, 0, 0.6);
      & p {
         height: 2.5rem;
         display: flex;
         justify-content: space-between;
         align-items: center;
         color: white;
         padding: 0 .6rem;
      }
      & .p1 {
         background-color: #181818;
      }
   }
}
